/* 모든 태그를 의미하는게 * */
* {
    box-sizing: border-box;
}

/* 선택자(selector) */
/* Cascading Style Sheet - 조상에 적용된 속성은 그대로 자손에게 전달된다(Cascading - 덮어쓰기) */
/* id는 # class는 . */
/* inline vs block vs inline-block
    inline은 텍스트만큼만 공간 차지(span태그)
    block은 100퍼센트 차지 (크롬의 기본값)
    inline-block 높이, 너비를 설정해줄 수 있음 */

html, body {
    margin: 0;
    padding: 0;
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

#fixed {
    position: fixed;
    top: 50px;
    right: 50px;
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50px;
}

#header-center {
    margin : 0 auto;
    width: 1080px;
}

#header-search h1 {
    display: inline-block;
    background-image: url(./네이버\ 이미지\ 스프라이트.png);
    background-size: 442px 428px;
    width: 222px;
    height: 52px;
    background-position: 0 -158px;
    background-repeat: no-repeat;
    /* background로 imgae, position, repeat 한 번에 조절 가능 */
    content: '';
    vertical-align: middle;
    position: relative;
    top: -7px;
}

#header-search a {
    text-decoration: none;
}
/* #header-search h2 {
    display: none;
} */

#header-search fieldset {
    margin-left: 20px;
    padding: 12px 0 12px 10px;
    width: 582px;
    height: 52px;
    border: 2px solid #19ce60; /* hex표기법 */
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

#header-search fieldset input {
    border: none;
    padding: 0;
    outline: none;
    width: 474px;
    height: 33px;
    vertical-align: top;
}

#header-search fieldset button {
    width: 52px;
    height: 52px;
    border: none;
    padding: 0;
    background: #19ce60;
    position: absolute;
    right: -2px;
    top: -2px;
    /* block format context, stacking context */
}

#search-image {
    background-image: url(./네이버\ 이미지\ 스프라이트.png);
    background-size: 442px 428px;
    display: inline-block;
    width: 22px;
    height: 22px;
    background-position: -420px -24px;
    background-repeat: no-repeat;
    vertical-align: top;
}

/* position absolute는 본인의 조상을 계속 타고 올라가다가 static이 아닌 block을 기준으로 움직인다
그래서 기본 디폴트가 static이라서 html까지 올라가버릴 수도 있다
이걸 방지하기 위해 fieldset을 relative로 바꿔주어서 fieldset button의 containing block을 fieldset으로 만든 것 */