/* 모든 태그를 의미하는게 * */
* {
    box-sizing: border-box;
}

/* 선택자(selector) */
/* Cascading Style Sheet - 조상에 적용된 속성은 그대로 자손에게 전달된다(Cascading - 덮어쓰기) */
/* id는 # class는 . */
/* inline vs block vs inline-block
    inline은 텍스트만큼만 공간 차지(span태그)
    block은 100퍼센트 차지 (크롬의 기본값)
    inline-block 높이, 너비를 설정해줄 수 있음 */

html, body {
    margin: 0;
    padding: 0;
    font-family: Dotum, '돋움', Helvetica, "Apple SD Gothic Neo", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

img {
    object-fit: cover;
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

#fixed {
    position: fixed;
    top: 50px;
    right: 50px;
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50px;
}

#header-search h1 {
    display: inline-block;
    background-image: url(./네이버\ 이미지\ 스프라이트.png);
    background-size: 442px 428px;
    width: 222px;
    height: 52px;
    background-position: 0 -158px;
    background-repeat: no-repeat;
    /* background로 imgae, position, repeat 한 번에 조절 가능 */
    content: '';
    vertical-align: middle;
    position: relative;
    top: -7px;
}

#header-search a {
    text-decoration: none;
}
/* #header-search h2 {
    display: none;
} */

#header-search fieldset {
    margin-left: 20px;
    padding: 12px 0 12px 10px;
    width: 582px;
    height: 52px;
    border: 2px solid #19ce60; /* hex표기법 */
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

#header-search fieldset input {
    border: none;
    padding: 0;
    outline: none;
    width: 463px;
    height: 33px;
    vertical-align: top;
}

#header-search fieldset button {
    width: 52px;
    height: 52px;
    border: none;
    padding: 0;
    background: #19ce60;
    position: absolute;
    right: -2px;
    top: -2px;
    /* block format context, stacking context */
}

#search-image {
    background-image: url(./네이버\ 이미지\ 스프라이트.png);
    background-size: 442px 428px;
    display: inline-block;
    width: 22px;
    height: 22px;
    background-position: -420px -24px;
    background-repeat: no-repeat;
    vertical-align: top;
}

/* position absolute는 본인의 조상을 계속 타고 올라가다가 static이 아닌 block을 기준으로 움직인다
그래서 기본 디폴트가 static이라서 html까지 올라가버릴 수도 있다
이걸 방지하기 위해 fieldset을 relative로 바꿔주어서 fieldset button의 containing block을 fieldset으로 만든 것 */

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

nav li {
    display: inline-block;
    padding-left: 12px;
}

a {
    text-decoration-line: none;
}

#mail {
    background-image: url(./네이버\ 이미지\ 스프라이트.png);
    background-size: 442px 428px;
    display: inline-block;
    width: 22px;
    height: 22px;
    background-position: -420px -73px;
    background-repeat: no-repeat;
    vertical-align: top;
    padding-right: 25px;
}

/* 덮어씌우는 우선순위 */
/* 뒤에 나오는 css가 우선순위가 높음
    !important > inline > id > class > tag
    의사클래스는 은메달
    !important는 최후의 수단으로 사용하자(치트키라고 생각하자)
     */

#header-top {
    float: right;
}

#header-top span {
    font-size: 11px;
    color: #404040;
    line-height: 24px;
}

header {
    height: 123px;
    padding: 19px;
}

nav {
    height: 46px;
    border-top: 1px solid #f1f3f6;
    border-bottom: 1px solid #d1d8e4;
    padding-bottom: 54px;
}

.vertical-bar {
    display: inline-block;
    margin: 0 6px;
    width: 1px;
    height: 11px;
    background-color: black;
}

#search-ranking {
    position: relative;
    top: 17px;
    right: -933px;
    display: inline-block;
    width: 150px;
    height: 20px;
}

#update-search {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid black;
    background-color: white;
    position: absolute;
    top: -15px;
    right: 10px;
    z-index: 100;
}

#search-ranking:hover #update-search {
    display: inline-block;
}

#z-ex {
    position: absolute;
    background-color: yellow;
    width: 100px;
    height: 100px;
    z-index: 1;
}

#z-inner {
    position: absolute;
    background-color: red;
    width: 50px;
    height: 50px;
    z-index: 1000;
}
/* z-index비교 : 부모먼저(자식은 먼저 무시하고) 부모가 작으면 자식이 더 커도 상관 없음(눌림)
#부모가 더 중요하다(자식끼리만 비교) */

#rank-number {
    margin-top: -9px;
    margin-right: 4px;
    color: #00ab33;
    font-size: 16px;
    font-weight: bold;
}

.search-keyboard {
    background-image: url(./네이버\ 이미지\ 스프라이트.png);
    background-size: 442px 428px;
    display: inline-block;
    width: 20px;
    height: 12px;
    background-position: -376px -267px;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 5px;
}

.search-history {
    background-image: url(./네이버\ 이미지\ 스프라이트.png);
    background-size: 442px 428px;
    display: inline-block;
    width: 10px;
    height: 5px;
    background-position: -158px -151px;
    background-repeat: no-repeat;
    vertical-align: middle;
}

main {
    background-color: #f2f4f7;
    display: inline-block;
    width: 100%;
}

#main-centered {
    padding: 8px 10px 0;
    width: 1100px;
}

.center-align {
    margin : 0 auto; 
    width: 1080px; 
}

#main-ad {
    display: inline-block;
    width: 740px;
    height: 120px;
    background-color: #555;
    margin-bottom: 8px;
    margin-right: 8px;
    float: left;
}

#main-login {
    display: inline-block;
    width: 332px;
    height: 120px;
    background: white;
    margin-bottom: 8px;
    float: left;
}

#main-login .login-wrapper {
    padding: 15px 25px;
}

#main-login .login-text {
    color: #888;
    font-size: 12px;
    line-height: 14px;
}

#main-login .sign-up {
    color: #888;
    font-size: 12px;
    line-height: 14px;
    float: right;
    text-decoration: none;
}

#main-login .sign-up:hover {
    text-decoration: underline;
}

#main-login .login-login {
    display: block;
    padding: 15px 0;
    margin-top: 10px;
    background-color: #19ce60;
    border: 1px solid #15c654;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-size: 13px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    margin-bottom: 8px;
}

.inline-block {
    display: inline-block;
}

#first {
    width: 740px;
    float: left;
    margin-right: 8px;
}

#second {
    width: 332px;
    vertical-align: top;
    float: left;
}

#main-ytn {
    display: inline-block;
    width: 740px;
    height: 46px;
    background: white;
    margin-bottom: 8px;
    margin-right: 8px;
}

#main-ytn h3, #main-ytn ol {
    display: inline-block;
}

#main-newstand h3 {
    height: 45px;
    border-bottom: 1px solid #f1f3f6;
}

#main-newstand {
    display: inline-block;
}

#main-newstand ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    width: 100%;
}

#main-newstand li {
    float: left;
    width: calc(100% / 6);
    height: 67px;
    border-right: 1px solid #f1f3f6;
    border-bottom: 1px solid #f1f3f6;
    text-align: center; 
    /* 가로 가운데 정렬 */
}

#main-newstand li img {
    position: relative;
    top: 50%; /* 맨 위끝 기준으로 반 내려오기 때문에 */
    transform: translateY(-50%); /*자기 자신의 반절만큼 위로 올려준다는 의미*/
}
/* 세로 가운데 정렬 */
#main-newstand {
    display: inline-block;
    width: 740px;
    height: 246px;
    background: white;
    margin-bottom: 8px;
    margin-right: 8px;
    
}

#main-weather {
    display: inline-block;
    width: 332px;
    height: 142px;
    vertical-align: top;
    margin-bottom: 8px;
    background: white;
    vertical-align: top;
}

#main-second-ad {
    display: inline-block;
    width: 332px;
    height: 150px;
    background: #555;
    margin-bottom: 8px;
    vertical-align: top;
}

#main-category {
    display: inline-block;
    width: 722px;
    height: 837px;
    background: white;
    margin-bottom: 8px;
    margin-right: 8px;
    float: left;
}

#main-shopping {
    display: inline-block;
    width: 350px;
    height: 1000px;
    background: white;
    margin-bottom: 8px;
    float: left;
}

#main-shopping iframe {
    width: 100%;
    height: 100%;
}

#main-event {
    display: inline-block;
    width: 740px;
    height: 130px;
    vertical-align: top;
    background: white;
    margin-right: 8px;
    float: left;
}

#main-third-ad {
    display: inline-block;
    width: 332px;
    height: 130px;
    background: #555;
    float: left;
}