<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IDEA LIST</title>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/ideas_list.css' %}?after ">
</head>
<body>
    <nav class="nav_bar">
        <div class="nav_topic">Honggu's <span style="color:greenyellow">SW IDEA </span>CLOUD</div>
        <div class="nav_tap">
            <a href="{% url 'ideas:create' %}">아이디어 등록</a>
            <a href="{% url 'ideas:list' %}">아이디어 관리</a>
            <a href="{% url 'ideas:devtool_create' %}">개발툴 등록</a>
            <a href="{% url 'ideas:devtool_list' %}">개발툴 관리</a>
        </div> 
    </nav>
    <hr />

    <div class="main_container">
        <div class="main_topic">Idea List</div>
        <div class="main_info">나의 아이디어를 잊지말고 기록해두자</div>
        <form action="{% url 'ideas:list' %}" method="get" id="search_mode">
            <select name="search_mode" id="search_mode">
                <option value="">{{ default_option }}</option>
                {% for option in option_list %}
                {% if option != default_option %}
                    <option value={{ option }}>{{ option }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </form>
        <div class="main_posts">
            {% for idea in ideas %}
            <article>
                {% if idea.image %}
                <p class="checkbox_container">
                    <img src="{{ idea.image.url }}" alt="">
                </p>
                {% endif %}

                {% if not idea.star %}
                    <form action="{% url 'ideas:list' %}" method="post" class="like">
                        {% csrf_token %}
                        <input type="submit" class="like" value="찜하기">
                        <span>현재 상태 : 찜X</span>
                        <input type="hidden" name="trueorfalse" value="True">
                        <input type="hidden" name="like" value="{{idea.id}}">
                    </form>
                {% else %}
                    <form action="{% url 'ideas:list' %}" method="post" class="like">
                        {% csrf_token %}
                        <input type="submit" class="like" value="찜취소">
                        <span>현재 상태 : 찜</span>
                        <input type="hidden" name="trueorfalse" value="False">
                        <input type="hidden" name="like" value="{{idea.id}}">
                    </form>
                {% endif %}

                <h3><a href="{% url 'ideas:read' idea.pk %}">{{ idea.title }}</a></h3>
                <small>예상 개발 툴 : {{ idea.devtool.name }}</small>
                <br />
                <small>아이디어 관심도 : <button name="plus">+</button>  <span class="interest">{{ idea.interest }}</span>  <button name="minus">-</button></small>
                <br />
            </article>
            {% endfor %}
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            $("select[name=search_mode]").change(function () {
            $("#search_mode").submit();
            });
        });
    </script>
    <!-- <script type="text/javascript">
        $('button[name=plus]').on('click', function(e) {
            data = $('.interest').val();

            $.ajax({
                type:'POST',
                url:'http://127.0.0.1:8000/',
                data:JSON.stringify(data),
                success:function(json){
                    console.log("data pass success",json);
                },
                error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText); 
                }
           });
          });
    </script> -->
</body>
</html>