<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MODIFY</title>
    <link rel="stylesheet" href="{% static '/css/movie_update.css' %}">
</head>
<body>
    <header>
        <div class="topic_container">
            <a href="/"><h1>my</h1></a> 
            <a href="/"><h1 class="pink">Movie</h1></a> 
            <a href="/"><h1>reviews</h1></a> 
        </div>
        <a href="/movie/create" class="add_review">Add a new review</a>
    </header>
    <main>
        <hr />
        <div class="main">
            <h1 >🍿Modify Movie Review🍿</h1>
            <form action="/movie/{{post.id}}/update" method="post">
                {% csrf_token %}
                <div class="info_main">
                    <span>영화 제목 : </span>
                    <input name="title" value="{{ post.title }}" />
                    <br />
                    <span>개봉년도 : </span>
                    <input name="release_year" value="{{ post.release_year }}" />
                    <br />
                    <span>장르 : </span>
                    <input name="genre" value="{{ post.genre }}" />
                    <br />
                    <span>별점 : </span>
                    <input name="score" value="{{ post.score }}" type="float" />
                    <br />
                    <span>러닝타임 : </span>
                    <input name="running_time" value="{{ post.running_time }}" type="number" />
                    <br />
                    <div>리뷰 : </div>
                    <textarea name="content" cols="30" rows="10">{{ post.content }}</textarea>
                    <br />
                    <span>감독 : </span>
                    <input name="director" value="{{ post.director }}" />
                    <br />
                    <span>배우 : </span>
                    <input name="main_actor" value="{{ post.main_actor }}" />
                    <hr />
                    <div class="save_btn">
                        <input class="input_button" type="submit" value="SAVE" />
                    </div>
                </div>
            </form>
        </div>
    </main>
</body>
</html>