<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY MOVIE REVIEWS</title>
    <link rel="stylesheet" href="{% static '/css/movie_list.css' %}">
</head>
<body>
    <header>
        <div class="topic_container">
            <h1>my</h1>
            <h1 class="pink">Movie</h1>
            <h1>reviews</h1>
        </div>
        <a href="/movie/create" class="add_review">Add a new review</a>

    </header>
    <main>
        <hr>
        <ul>
            {% for post in posts %}
            <div class="movie_container">
                <div class="movie_img">
                    <img src="https://picsum.photos/seed/picsum{{ post.id }}/200" alt="랜덤 이미지">
                </div>
                <div class="movie_info">
                    <h2><a href="/movie/{{ post.pk }}">{{ post.title }}</a></h2>
                    <small>개봉년도: {{ post.release_year }}년</small>
                    <br />
                    <small>장르: {{ post.genre }}</small>
                    <br />
                    <small>별점: {{ post.score }}</small>
                    <br />
                </div>
            </div>
            <hr />
            {% endfor %}
            
        </ul>
    </main>
</body>
</html>